@import url('http://fonts.cdnfonts.com/css/minecraft-4');

.map {
  display: grid;
  position: absolute;
  top: 7.50vh;
  height: 92.50vh;
  width: 100%;
  border: transparent;
  z-index: 999999;
}

.overviewer-nav {
  font-family: 'minecraft', sans-serif;

  display: flex;
  align-items: center;

  height: 7.50vh;
  max-height: 7.50vh;
  width: 100%;

  background: url('./nav.svg'), linear-gradient(180deg, #0373DA, #2AB1E4);
  background-size: cover;
  background-position: center;

  box-shadow: inset 0 9px 0px 0px #48CAFF, inset 0 -9px 0px 0px #0972D9, inset 12px 0px 0px 0px #0972D9, inset -12px 0px 0px 0px #48CAFF;
}

.menu-nav {
  font-family: 'minecraft', sans-serif;

  display: flex;
  align-items: center;

  background: url('./nav.svg'), linear-gradient(180deg, #0373DA, #2AB1E4);
  background-size: cover;
  background-position: center;

  box-shadow: inset 0 9px 0px 0px #48CAFF, inset 0 -9px 0px 0px #0972D9, inset 12px 0px 0px 0px #0972D9, inset -12px 0px 0px 0px #48CAFF;
}

.connect-button {
  background: linear-gradient(180deg, #CEDDE7, #DDE9F1);

  border: transparent;

  box-shadow: inset 0 6px 0px 0px #E3EFF8, inset 0 -6px 0px 0px #B4C9D6, inset -6px 0px 0px 0px rgba(236, 247, 255, 0.7), inset 6px 0px 0px 0px #B4C9D6;

  font-size: 18px;

  margin-left: 2rem;

  height: 34px;
  width: 203px;

  font-family: 'minecraft', sans-serif;

  font-weight: 400;
}

.mini-button {
  background: linear-gradient(180deg, #CEDDE7, #DDE9F1);

  border: transparent;

  box-shadow: inset 0 6px 0px 0px #E3EFF8, inset 0 -6px 0px 0px #B4C9D6, inset -6px 0px 0px 0px rgba(236, 247, 255, 0.7), inset 6px 0px 0px 0px #B4C9D6;

  font-size: 18px;

  margin-left: .5rem;

  height: 34px;
  width: 101px;

  font-family: 'minecraft', sans-serif;
}

.mini-connect-button {
  background: linear-gradient(180deg, #CEDDE7, #DDE9F1);

  border: transparent;

  box-shadow: inset 0 6px 0px 0px #E3EFF8, inset 0 -6px 0px 0px #B4C9D6, inset -6px 0px 0px 0px rgba(236, 247, 255, 0.7), inset 6px 0px 0px 0px #B4C9D6;

  font-size: 18px;

  height: 34px;
  width: 200px;

  font-family: 'minecraft', sans-serif;
}

.hover_text {
  font-size: 18px;

  color: white;
  
  text-decoration: none;
}

.hover_text:hover {
  text-decoration: underline;
}
